.image-item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(0.99);
}
.image-item.active {
  opacity: 1;
  position: relative;
}


.image-item.active img[src*="project21.jpg"] {
  animation: fadeInZoom 1.2s ease-in-out;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.image-item.active img[src*="project23.jpg"] {
  animation: slideInRight 1s ease-in-out;
}
html {
  scroll-behavior: smooth;
}



@media print {
  /* Hide the download button in the PDF */
  #pdf_link, .download-button {
    display: none;
  }

  /* Additional print-specific styling */
  body {
    background-color: #FFF;
  }
  
  /* Adjust layout, margins, etc., as needed */
  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
}